*{
	box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Open Sans' sans-serif;
  color: #333;
  margin: 0;
}

btn-tweet {
  margin-top: 10px;
  background-color: #33cc00;
  color: #fafafa;
  font-size: 16px;
  float: right;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-tweet:hover {
  background-color: #4DE61A;
}

.btn-tweet:active {
  background-color: #009900;
}